#deleteButton {
  height: 100%;
  width: 10%;
  appearance: none;
  background: #cc0000;
  border: 0.5px solid #000000;
  color: #ffffff;
  float: right;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

#todo {
  border: 1px solid #000000;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 3%;
  width: 94%;
}

.done {
  background-color: #cccccc;
  border: 1px solid #000000;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
